/* https://www.codegrid.net/articles/2022-tooltip-1/ */
.prjTooltip {
	--_bg: #000;
	--_color: #fff;
	--_triangle-size: 5px;
	--_triangle-size2: 10px;
	--_triangle-size3: 8px;
	--_gap: 2px;

	position: absolute;
	z-index: 100;
	display: block;

	/* ツールチップのみため */
	width: max-content;
	max-width: 2000px;
	padding: 10px;
	background-color: var(--_bg);
	color: var(--_color);
	text-align: left;
	border-radius: 8px;
	font-size: 12px;

	/* 表示・非表示の指定 */
	visibility: hidden;
	opacity: 0;
}

/* ツールチップが下に表示される場合 */
.prjTooltip.-bottom {
	top: calc(100% + var(--_triangle-size2) + var(--_gap));
	left: 50%;
	translate: -50% var(--_y, 0);
}

/*
	△を擬似要素で作成
*/
.prjTooltip::before {
	position: absolute;
	margin: auto;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
}

/* ツールチップが下に表示される場合の△ */
.prjTooltip.-bottom::before {
	top: calc(var(--_triangle-size2) * -1);
	right: 0;
	left: 0;
	border-width: 0 var(--_triangle-size) var(--_triangle-size2) var(--_triangle-size);
	border-color: transparent transparent var(--_bg) transparent;
}

/* ツールチップが下に表示される場合 */
.prjTooltip.-bottom::after {
	bottom: 100%;
	left: 0;
	height: calc(var(--_triangle-size) + var(--_gap));
}

/*
	ツールチップがあることを、支援技術に伝えるための非表示テキスト
*/
.prjTooltip_Body {
	display: block;
}
.prjTooltip_Body::before {
	content: "。ツールチップあり：";
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
}

/*
	対象の要素の周囲に表示されるツールチップを上下左右に配置するために親要素をrelativeにする
	※親要素のpositionの値を自身で調整したい場合は不要
*/
.prjTooltipContainer_userTask_under {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #8afc8a !important;
    background-color: #8afc8a !important;
}
.prjTooltipContainer_userTask_over {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #005e00 !important;
    background-color: #005e00 !important;
}

.prjTooltipContainer_school_under {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #ff5e5e !important;
    background-color: #ff5e5e !important;
}
.prjTooltipContainer_school_under_complet {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #ffd700 !important;
    background-color: #ff5e5e !important;
}
.prjTooltipContainer_school_over_incomplet {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #808080 !important;
    background-color: #8b0000 !important;
}
.prjTooltipContainer_school_over_complet {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #ffd700 !important;
    background-color: #8b0000 !important;
}



/*
	ホバー、フォーカス、アクティブ時にツールチップを表示する
*/
.prjTooltipContainer1_1:is(:hover, :focus-visible, :focus-within, :active) > .prjTooltip {
	visibility: visible;
	opacity: 1;
}
.prjTooltipContainer1_2:is(:hover, :focus-visible, :focus-within, :active) > .prjTooltip {
	visibility: visible;
	opacity: 1;
}

.prjTooltipContainer2_1:is(:hover, :focus-visible, :focus-within, :active) > .prjTooltip {
	visibility: visible;
	opacity: 1;
}
.prjTooltipContainer2_2:is(:hover, :focus-visible, :focus-within, :active) > .prjTooltip {
	visibility: visible;
	opacity: 1;
}


/*
	no-preferenceはprefers-reduced-motionの設定を行なっていない場合
	アニメーションさせる
*/

html {
	height: 100%;
}
.Container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}