.taskList {
    margin: 20px;
}
.taskList_ul {
	background: #fffcf4;
	border-radius :8px;
	box-shadow :0px 0px 5px silver;
 	padding: 0.5em 0.5em 0.5em 2em;
}

.navbar-fixed-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {
    max-height: 500px !important;
}

.prjTooltipContainer_userTask_under {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #8afc8a !important;
    background-color: #8afc8a !important;
}
.prjTooltipContainer_userTask_over {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #005e00 !important;
    background-color: #005e00 !important;
}

.prjTooltipContainer_school_under {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #ff5e5e !important;
    background-color: #ff5e5e !important;
}
.prjTooltipContainer_school_under_complet {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #ffd700 !important;
    background-color: #ff5e5e !important;
}
.prjTooltipContainer_school_over_incomplet {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #808080 !important;
    background-color: #8b0000 !important;
}
.prjTooltipContainer_school_over_complet {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	border: 2px solid #ffd700 !important;
    background-color: #8b0000 !important;
}